layout {

    focus-ring {
        active-color   "#b3c5ff"
        inactive-color "#11131a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b3c5ff"
        inactive-color "#11131a"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#b3c5ff"
        inactive-color "#1f54c6"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b3c5ff80"
    }
}

recent-windows {
    highlight {
        active-color "#b3c5ff"
        urgent-color "#ffb4ab"
    }
}
